%span{:class=>'add1'}
= select(:foreign_language,"Id","<option>Chinese - Mandarin</option><option> Chinese - Cantonese</option><option> Chinese - Taiwanese</option><option> French</option><option> German</option><option>Italian</option><option>Korean</option><option> Russia</option><option>Swedish</option><option> Spanish</option><option>Tagalog</option><option>Other</option>",:prompt=>"Select")
%br
%br