<!DOCTYPE html>
<html>
<head>
  <title>Nsp</title>
  <%= stylesheet_link_tag :all,"style"  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
   
</head>
<body>

     



    
    <%= yield %>


</body>
</html>
